:root {
  --white: #ffffff;
  --x: #99e3de;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial Black", Gadget, sans-serif;
}

body {
  background-color: #00c7ba;
}

.title {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.cells {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0px;
  border-bottom: 3px solid var(--white);
  border-right: 3px solid var(--white);
  outline: none;
  font-size: 5rem;
  font-weight: bold;
  cursor: pointer;
}

.no-r {
  border-right: none;
}

.no-b {
  border-bottom: none;
}

.x {
  color: var(--x);
}

.o,
.player,
.computer,
.tie,
footer,
h1 {
  color: var(--white);
}

.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 36%;
  width: 550px;
  font-size: 1.4rem;
}

.score > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.points {
  font-size: 2rem;
  margin-top: 0.2rem;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.board-wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

#status {
  position: absolute;
  top: 50%;
  width: 300px;
  left: 150%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 10px;
  text-align: center;
  z-index: 10;
  display: none;
  pointer-events: none;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.cells.X,
.cells.O {
  animation: pop 0.3s ease-out;
  text-align: center;
  transition: transform 0.2s ease-in;
}

#resetScore {
  padding: 1rem;
}
